<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common/common-head.html::common-head}"></div>
</head>
<body class="body-common">
<div class="page-container">
    <blockquote class="layui-elem-quote">
        <form id="dataForm" class="layui-form">
            <div class="layui-form-item">
                                        <div class="layui-inline"
                             >
                            <input type="text" name="id" id="id"
                                   placeholder="id" class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <select name="userId" id="userId" class="layui-input">
                                <option value="">请选择用户</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select name="paperTypeId" id="paperTypeId" class="layui-input">
                                <option value="">请选择类型</option>
                            </select>
                        </div>
                        <div class="layui-inline"
                             style="display: none">
                            <input type="text" name="title" id="title"
                                   placeholder="标题" class="layui-input">
                        </div>
                        <div class="layui-inline"
                             style="display: none">
                            <input type="text" name="word" id="word"
                                   placeholder="简介" class="layui-input">
                        </div>
                        <div class="layui-inline"
                             style="display: none">
                            <input type="text" name="content" id="content"
                                   placeholder="内容" class="layui-input">
                        </div>
                        <div class="layui-inline"
                             style="display: none">
                            <input type="text" name="imgUrl" id="imgUrl"
                                   placeholder="图片" class="layui-input">
                        </div>
                        <div class="layui-inline"
                             style="display: none">
                            <input type="text" name="imgUrl2" id="imgUrl2"
                                   placeholder="图片" class="layui-input">
                        </div>
                        <div class="layui-inline"
                             style="display: none">
                            <input type="text" name="imgUrl3" id="imgUrl3"
                                   placeholder="图片" class="layui-input">
                        </div>
                        <div class="layui-inline"
                             style="display: none">
                            <input type="text" name="createTime" id="createTime"
                                   placeholder="发布时间" class="layui-input">
                        </div>
                        <div class="layui-inline" >
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="status" id="status">
                                    <option value="">请选择状态</option>
                                            <option value="0">禁用</option>
                                            <option value="1">可用</option>
                                </select>
                            </div>
                        </div>
                <div class="layui-inline">
                    <input type="button" name="" class="layui-btn" onclick="loadMyData()" data-type="reload"
                           th:value="搜索"/>
                </div>
            </div>
        </form>
    </blockquote>
    <div class="mt-20">
        <table id="table-data" lay-filter="table-data"></table>
    </div>
</div>
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>

    <span th:if="${session.userAuth==null}">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon layui-icon-delete"></i>删除</a>
    </span>
</script>
<script type="text/html" id="toolbar-data">
    <a class="layui-btn layui-btn-normal layui-btn-sm" th:href="@{/tbPaper/gotoDetail }"><i
                class="layui-icon layui-icon-add-1"></i> 新增</a>
    <a href="javascript:void(0)" onclick="exports()" class="layui-btn layui-btn-warm layui-btn-sm">
        <i class="layui-icon layui-icon-download-circle"></i> 导出</a>
</script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="javascript">
    var table;
    layui.use(['form', 'table', 'laydate'], function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
        table = layui.table;
        //第一个实例
        table.render({
            elem: '#table-data'
            , toolbar: '#toolbar-data'
            , url: getDataUrl()  //数据接口
            , method: "post"
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'id', width: 70}
                                , {
                    field: 'userId',
                    title: '用户',
                    templet: '<div>{{userIdName(d.userId)}}</div>'
                }
                                                , {
                    field: 'paperTypeId',
                    title: '类型',
                    templet: '<div>{{paperTypeIdName(d.paperTypeId)}}</div>'
                }
                                , {
                    field: 'title',
                    title: '标题'
                }
                                                                                , {
                    field: 'imgUrl',
                    title: '图片',
                    templet: function (d) {
                        return "<img src='" + rootPath + "fileImage/watch?path=" + d.imgUrl + "'>";
                    }
                }
                                , {
                    field: 'imgUrl2',
                    title: '图片',
                    templet: function (d) {
                        return "<img src='" + rootPath + "fileImage/watch?path=" + d.imgUrl2 + "'>";
                    }
                }
                                , {
                    field: 'imgUrl3',
                    title: '图片',
                    templet: function (d) {
                        return "<img src='" + rootPath + "fileImage/watch?path=" + d.imgUrl3 + "'>";
                    }
                }
                                , {
                    field: 'createTime',
                    title: '发布时间'
                }
                , {field: 'status_', title: '状态'}
                , {title: '操作', toolbar: '#barDemo', width: 150}
            ]],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.rows //解析数据列表
                };
            },
            "request": {
                pageName: 'page' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            "response": {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 0 //规定成功的状态码，默认：0
            }
        });
        //监听行工具事件
        table.on('tool(table-data)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                myConfirm("确定要删除吗?", function (index) {
                    obj.del();
                    $.post(rootPath + "tbPaper/deleteByPrimaryKey", {"id": data.id}, function (data) {
                        myAlert("删除成功");
                        setTimeout(function () {
                            loadMyData()
                        }, 2000)
                    });
                    layer.close(index);
                })
            } else if (obj.event === 'edit') {
                window.location.href = rootPath + "tbPaper/gotoDetail?id=" + data.id;
            }
        });

        var userId = "userId";
        userId = "tb" + userId.slice(0, 1).toUpperCase() + userId.slice(1, userId.length - 2);
        $.ajax({
            url: rootPath + userId + "/selectByCondition",
            dataType: 'json',
            success: function (res) {
                const data = res.data;
                const userIdElem = $('#userId');
                $.each(data, function (index, value) {
                    const option = new Option(value.act, value.id);
                    option.selected = userIdElem.attr("value") == value.id;
                    userIdElem.append(option);
                });
                layui.form.render("select");
            }
        })
        var paperTypeId = "paperTypeId";
        paperTypeId = "tb" + paperTypeId.slice(0, 1).toUpperCase() + paperTypeId.slice(1, paperTypeId.length - 2);
        $.ajax({
            url: rootPath + paperTypeId + "/selectByCondition",
            dataType: 'json',
            success: function (res) {
                const data = res.data;
                const paperTypeIdElem = $('#paperTypeId');
                $.each(data, function (index, value) {
                    const option = new Option(value.name, value.id);
                    option.selected = paperTypeIdElem.attr("value") == value.id;
                    paperTypeIdElem.append(option);
                });
                layui.form.render("select");
            }
        })
        laydate.render({
            elem: '#createTime'
            , type: 'datetime'
        });
    });

    //组装url,如果页面有值传过来,则组装
    function getDataUrl() {
        var fkey = [[${param.fkey}]];
        var fvalue = [[${param.fvalue}]];
        var furl = [[${param.furl}]];
        var param = "";
        if (fkey && fvalue) {
            param = "?" + fkey[0] + "=" + fvalue[0];
        }

        if (!furl) {
            furl = "tbPaper/selectAllByPaging";
        } else {
            furl = furl[0];
        }
        return rootPath + furl + param;
    }

    function loadMyData() {
        table.reload("table-data", {
            where: $("#dataForm").serializeObject()
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }


    function userIdName(id) {
        var title;
        var beanName = "userId";
        beanName = "tb" + beanName.slice(0, 1).toUpperCase() + beanName.slice(1, beanName.length - 2);
        $.ajax({
            url: rootPath + beanName + "/selectByPrimaryKey",
            data: {"id": id},
            dataType: 'json',
            async: false,
            success: function (res) {
                title = res.data.act;
            }
        });
        return title;
    }


    function paperTypeIdName(id) {
        var title;
        var beanName = "paperTypeId";
        beanName = "tb" + beanName.slice(0, 1).toUpperCase() + beanName.slice(1, beanName.length - 2);
        $.ajax({
            url: rootPath + beanName + "/selectByPrimaryKey",
            data: {"id": id},
            dataType: 'json',
            async: false,
            success: function (res) {
                title = res.data.name;
            }
        });
        return title;
    }


    //导出
    function exports() {
        window.location.href = rootPath + "tbPaper/export?" + $("#dataForm").serialize()
    }

</script>
</body>
</html>